<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        display: flex;
        background-image: url("");
        background-size: 370px;
        background-position-y: bottom;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        justify-items: center;
        align-items: center;
      }
      .hero-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      h1 {
        font-weight: 700;
        font-size: 80px;

        font-family: monospace;
        display: flex;
        align-items: center;
        padding: 30px;
      }
      nav {
        display: flex;
        width: inherit;
        height: 200px;
        padding-top: 30px;
        align-items: flex-start;
      }
      .new-item {
        font-size: 30px;

        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
      }
      ul {
        display: flex;
        box-sizing: border-box;
        list-style-type: none;
        justify-content: center;
        margin-top: 200px;
        flex-wrap: wrap;
        overflow: hidden;
      }
      li {
        background-color: rgb(54, 143, 173);
        padding: 30px;
        margin: 20px;
        text-decoration: none;
        border-radius: 12px;
      }

      .btn-primary {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 40px;
        border: none;
        margin-top: 10px;
      }
      form {
        display: flex;
        justify-content: center;
      }
      input {
        display: flex;
        margin: 10px;
        padding: 5px;
      }

      .table {
        display: flex;
        justify-content: center;
      }
      thead {
        border: black solid 4px;
        width: 500px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
      }

      th {
        background-color: PURPLE !important;
        width: 500px;
      }
    </style>
    <meta charset="utf-8" />
    <title>Results</title>
  </head>
  <body>
    <div class="hero-wrapper">
      <h1>Search, Find, Conquer:)</h1>
      <nav>
        <a href="/indeed/new"
          ><img
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/132.png"
        /></a>
      </nav>
    </div>
    <ul>
      <% for(let i = 0; i < search.length; i++){ %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
          </tr>
          <tr>
            <th scope="col">Company</th>
          </tr>
          <tr>
            <th scope="col">Location</th>
          </tr>
          <tr>
            <td><%=search[i].title%></td>
          </tr>
          <tr>
            <td><%=search[i].company%></td>
          </tr>
          <tr>
            <td><%=search[i].location%></td>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
      <% } %>
    </ul>
  </body>
</html>
