<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Item Display</title>
  </head>
  <body>
    <h1>Item Display Page</h1>
    <h3>The task is to: <%=tasks.name%> and it is at: <%=tasks.time%>.</h3>
    <h3><%=tasks.info%></h3>
    <nav>
      <a href="/todo">Back to Items Index</a>
    </nav>
  </body>
</html>
